@model IEnumerable<ImageViewModel>


@foreach (var item in Model)
{
    <img src="@item.ImageUrl"
     alt="@item.Title"
     class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />

    @if (User.IsInRole("Artist"))
    {
        <hr />
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-controller="Gallery" asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        <hr />
    }
}
