@model IEnumerable<ImageViewModel>


<div class="row" id="gallery">
    @foreach (var item in Model)
    {
        <div class="col-4 col-lg-4 col-lg-2">
            <img src="@item.ImageUrl"
             alt="@item.Title"
             class="w-100 mb-2 mb-md-4 shadow-1-strong rounded" />

            @if (User.IsInRole("Artist"))
            {
                <div class="row-md-4 bg-dark rounded-3">
                    <div class="col-md-4 offset-md-4">
                        <hr />
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Gallery" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <hr />
                    </div>
                </div>
            }
        </div>
    }
</div>
