@model IEnumerable<AppointmentViewModel>


@{
    ViewBag.Title = "Appointments List";
}

<h2 class="text-center text-info">@ViewBag.Title</h2>

<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Day</th>
            <th scope="col">Title</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 23; i++)
        {
            @foreach (var item in Model)
            {
                if (i == DateTime.Parse(item.Start).Hour)
                {
                    <tr>
                        <th scope="row"></th>
                        <td><h1>@DateTime.Now.Day</h1></td>
                        <td>@item.Title</td>
                        <td>@item.Start</td>
                        <td>@item.End</td>
                    </tr>
                }
                <tr>
                    <th scope="row"></th>
                    <td><h1>@DateTime.Now.Day</h1></td>
                    <td>Free</td>
                    <td></td>
                    <td></td>
                </tr>
            }
        }
    </tbody>
</table>