@model AppointmentDetailsModel

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>Title: @Model.Title</p>
                <p>Description: @Model.Description</p>
                <p>Starts in: @Model.Start.ToShortTimeString().ToString()</p>
                <p>End in: @Model.End.ToShortTimeString().ToString()</p>
                <p>ArtistName: @Model.ArtistName</p>
                <p>Client: @Model.ClientFirstName , @Model.ClientLastName</p>
                <p>Client Contacts: @Model.PhoneNumber , @Model.SocialMedia</p>
            </div>

        </div>

    </div>
</div>