@model IEnumerable<HappeningViewModel>

@{
    ViewBag.Title = "Last News";
}

<div class="card-body row-cols-12 text-center bg-dark rounded-3">
    @foreach (var item in Model)
    {
        <div class="row-cols-md-12">
            <h3>@item.Title</h3>
            <p>
                @item.Content
            </p>
            <img src="@item.ImageUrl">
        </div>
        <hr />
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id">Details</a>
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        <hr />
    }
</div>