@model IEnumerable<ArtistViewModel>

@{
    ViewBag.Title = "Our Artists";
}

<div class="text-center bg-dark rounded-bottom">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div class="row-md-4 bg-dark rounded-3">
    <div class="col-md-4 offset-md-4">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <img src="@item.imageUrl" class="rounded-circle img-fluid" />
            </div>
            <div class="col-md-12" style="text-align: left;">
                <h2 class="lead"><b>@item.FirstLastName</b></h2>
                <p class="text-muted text-sm"><b>About: </b>@item.Resume</p>
                <ul class="ml-4 mb-0 fa-ul text-muted">
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Велико Търново ул.Зеленка 24 </li>
                    <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: @item.PhoneNumber</li>
                </ul>
            </div>
            <hr />
            <div class="card-footer">
                <div class="text-right">
                    <a href="#" class="btn btn-sm bg-teal">
                        <i class="fas fa-comments"></i>
                    </a>
                    <a href="@item.SocialMediaLink" class="btn btn-sm btn-primary bg-info text-dark">
                        <i class="fas fa-user"></i> View Profile
                    </a>
                </div>
            </div>

        }
    </div>
</div>